/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background-image: linear-gradient(#667eea, #764ba2);
  min-height: 100vh; }
  @media only screen and (max-width: 37em) {
    body {
      min-height: 0vh; } }

@media only screen and (max-width: 37em) {
  .heading-primary {
    font-size: 3rem; } }

.heading-secondary {
  font-size: 2rem;
  color: #f4f2f2;
  font-family: inherit;
  font-weight: 700; }

.heading-tertiary {
  font-size: 1.7rem;
  color: #f4f2f2;
  font-family: inherit;
  font-weight: 400; }

.heading-fourthly {
  font-size: 1.6rem;
  color: #f4f2f2;
  font-family: inherit;
  font-weight: 400; }

.svg {
  height: 3.1rem;
  width: 3.1rem;
  transition: all .2s linear; }
  .svg:hover {
    height: 3.1rem;
    width: 3.1rem;
    transform: scale(0.85); }

.task-progression {
  font-size: 1.5rem;
  color: #f4f2f2; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 5rem !important; } }

.u-margin-left-medium {
  margin-left: 4rem !important; }
  @media only screen and (max-width: 37em) {
    .u-margin-left-medium {
      margin-left: 1rem !important; } }

.u-margin-left-small {
  margin-left: 2rem !important; }

.u-margin-right-small {
  margin-right: 1.5rem !important; }

.u-margin-right-medium {
  margin-right: 4rem !important; }

.u-margin-right-big {
  margin-right: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.background-blur {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .background-blur:target {
    opacity: 1;
    visibility: visible; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .background-blur {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }

.background-ahref {
  cursor: inherit; }

.btn-svg {
  border: none;
  background-color: transparent; }
  .btn-svg:active, .btn-svg:focus {
    outline: none; }
  .btn-svg:hover,
  .btn-svg:hover ~ .icons-box {
    cursor: pointer;
    display: block; }

.int-container {
  height: 100%;
  width: 100%;
  background-color: #4C4177;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.inbox-container {
  display: flex;
  background-color: #F3917B;
  height: 7rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 2rem;
  align-items: center; }
  .inbox-container__circle {
    border-radius: 50%;
    width: 3.3rem;
    height: 3.3rem;
    margin-left: 1.5rem;
    background-color: #d4d4fc;
    padding: .5rem; }
  .inbox-container__svg-mail {
    fill: #7f79fc;
    height: 2.3rem;
    width: 2.3rem; }

.chat-container {
  display: flex;
  flex-direction: column;
  border-bottom: solid 2px #333;
  align-self: flex-start;
  padding-bottom: .7rem; }
  .chat-container__profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: .5rem; }
  .chat-container__checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 2.5rem; }
  .chat-container__custom-checkbox {
    position: absolute;
    top: 0;
    left: -.8rem;
    height: 1.7rem;
    width: 1.7rem;
    background-color: #764ba2;
    transform: translate(-50%, -50%);
    box-shadow: 1rem 2rem 6rem rgba(0, 0, 0, 0.7);
    transition: all .2s linear; }
    .chat-container__custom-checkbox:hover {
      background-color: #5f6cdc; }
  .chat-container__custom-checkbox-inner {
    position: absolute;
    display: none;
    left: .5rem;
    top: .1rem;
    width: .7rem;
    height: 1.2rem;
    border: solid #FB8122;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg); }
  .chat-container__checkbox {
    display: none; }
  .chat-container__name {
    margin-left: 1.7rem; }
  .chat-container__text {
    margin-right: -1.5rem; }
    @media only screen and (min-width: 132.5em) {
      .chat-container__text {
        margin-right: -4.5rem; } }
  .chat-container__svg-circle {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;
    background-color: #009FFD;
    padding: .2rem;
    fill: #f4f2f2;
    position: relative; }
    .chat-container__svg-circle, .chat-container__svg-circle:link, .chat-container__svg-circle:visited {
      border-radius: 50%;
      transition: all .2s;
      border: none;
      cursor: pointer; }
    .chat-container__svg-circle:hover {
      transform: translateY(-1px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .chat-container__svg-circle:hover::after {
        transform: scaleX(1.4) scaleY(1.4);
        opacity: 0; }
    .chat-container__svg-circle:active, .chat-container__svg-circle:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .chat-container__svg-circle::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
      background-color: #009FFD; }
  .chat-container__svg-arrow {
    width: 1.5rem;
    height: 1.5rem; }
  .chat-container__svg-link {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -3rem;
    fill: #2E3553; }
  .chat-container__wrapper {
    width: 100%;
    display: flex;
    padding: 0 1rem; }
  .chat-container__wrapper-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
    color: #f4f2f2;
    font-size: 1.1rem; }
  .chat-container__wrapper-img {
    width: 30%; }
  .chat-container__main-message {
    font-size: 1.3rem; }

.message-container {
  width: 100%;
  padding: 1.5rem 2rem; }
  .message-container__textarea-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem; }
  .message-container__textarea {
    width: 90%;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: inherit;
    border-radius: 15px;
    background-color: #2E3553;
    color: #f4f2f2;
    border: none;
    resize: none;
    outline: none;
    padding: 1rem 5rem;
    margin-left: -1rem;
    z-index: 1; }
  .message-container__wrapper-interface {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .message-container__textarea-svg {
    margin-top: -13rem;
    z-index: 2; }
  .message-container__wrapper-svg {
    display: flex; }
  .message-container__circle-delete {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    margin-left: 1rem;
    background-color: grey;
    padding: .56rem;
    padding-left: .6rem;
    position: relative;
    transition: background-color .2s linear; }
    .message-container__circle-delete:hover {
      background-color: red; }
    .message-container__circle-delete, .message-container__circle-delete:link, .message-container__circle-delete:visited {
      border-radius: 50%;
      transition: all .2s;
      border: none;
      cursor: pointer; }
    .message-container__circle-delete:hover {
      transform: translateY(-1px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .message-container__circle-delete:hover::after {
        transform: scaleX(1.4) scaleY(1.4);
        opacity: 0; }
    .message-container__circle-delete:active, .message-container__circle-delete:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .message-container__circle-delete::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
      background-color: red; }
  .message-container__svg-delete {
    width: 1.7rem;
    height: 1.7rem;
    fill: #f4f2f2; }
  .message-container__svg-circle-arrow {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #009FFD;
    border-radius: 50%;
    padding: .5rem;
    fill: #f4f2f2;
    z-index: 2;
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
    .message-container__svg-circle-arrow, .message-container__svg-circle-arrow:link, .message-container__svg-circle-arrow:visited {
      border-radius: 50%;
      transition: all .2s;
      border: none;
      cursor: pointer; }
    .message-container__svg-circle-arrow:hover {
      transform: translateY(-1px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .message-container__svg-circle-arrow:hover::after {
        transform: scaleX(1.4) scaleY(1.4);
        opacity: 0; }
    .message-container__svg-circle-arrow:active, .message-container__svg-circle-arrow:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .message-container__svg-circle-arrow::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
      background-color: #009FFD; }
  .message-container__send-button {
    background-color: #009FFD;
    color: #f4f2f2;
    position: relative; }
    .message-container__send-button, .message-container__send-button:link, .message-container__send-button:visited {
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 10rem;
      padding: 1rem 3rem;
      transition: all .2s;
      font-size: 1.5rem;
      border: none;
      cursor: pointer; }
    .message-container__send-button:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .message-container__send-button:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .message-container__send-button:active, .message-container__send-button:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .message-container__send-button::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
      background-color: #009FFD; }

.progression-levels {
  width: 100%;
  min-height: 85rem;
  background-color: #2a314f;
  padding: 2rem;
  visibility: hidden;
  display: none; }
  .progression-levels__content {
    width: 100%;
    height: 100%;
    background-image: url("../img/img-4.png");
    background-size: cover;
    border-radius: 15px;
    padding: 3rem; }

.levels {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .levels__main-level {
    width: 90%;
    height: 1.3rem;
    background-color: #777;
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 2rem; }
  .levels__description {
    font-size: 1.7rem;
    margin-bottom: -1rem;
    color: #f0eeee; }
  .levels__wrapper {
    display: flex;
    width: 90%;
    justify-content: space-between; }
  .levels__rank {
    font-size: 1.7rem;
    color: #f0eeee; }
  .levels__percent-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: -1rem; }
  .levels__exp {
    display: flex;
    justify-content: center;
    margin-top: -1.65rem;
    color: #f0eeee;
    font-size: 1.4rem; }
  .levels__percent-main {
    font-size: 1.7rem;
    color: #f0eeee;
    padding-bottom: 1rem; }
  .levels__percent-strength {
    font-size: 1.7rem;
    color: #f0eeee;
    padding-bottom: 1rem; }
  .levels__percent-condition {
    font-size: 1.7rem;
    color: #f0eeee;
    padding-bottom: 1rem; }
  .levels__percent-stretching {
    font-size: 1.7rem;
    color: #f0eeee;
    padding-bottom: 1rem; }
  .levels__percent-abs {
    font-size: 1.7rem;
    color: #f0eeee;
    padding-bottom: 1rem; }
  .levels__progression-line-main {
    height: 100%;
    background-color: green;
    border-radius: 15px;
    background-color: #1a99aa;
    width: 50%; }
  .levels__progression-line-strength {
    height: 100%;
    background-color: green;
    border-radius: 15px;
    background-color: #df6c4f;
    width: 30%; }
  .levels__progression-line-condition {
    height: 100%;
    background-color: green;
    border-radius: 15px;
    background-color: #ecd06f;
    width: 15%; }
  .levels__progression-line-stretching {
    height: 100%;
    background-color: green;
    border-radius: 15px;
    background-color: #3c948b;
    width: 70%; }
  .levels__progression-line-abs {
    height: 100%;
    background-color: green;
    border-radius: 15px;
    background-color: #BA265D;
    width: 95%; }

.calendar {
  width: 100%;
  min-height: 36rem;
  background-color: #454d66;
  border-radius: 15px;
  padding: 1rem; }
  .calendar__levels {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #4062BB;
    border: 1px solid #f0eeee;
    border-top: none;
    background-color: #acacfc; }
  .calendar__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #f0eeee;
    border-bottom: 1px solid #f0eeee; }
  .calendar__description {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 1rem;
    border-bottom: 1px solid #f0eeee;
    border-left: 1px solid #f0eeee;
    border-right: 1px solid #f0eeee; }
  .calendar__text {
    font-size: 1.5rem;
    color: #f0eeee; }
  .calendar__week {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 1rem;
    border-bottom: 1px solid #f0eeee;
    border-left: 1px solid #f0eeee;
    border-right: 1px solid #f0eeee; }
  .calendar__day {
    font-size: 1.5rem;
    color: #f0eeee; }
  .calendar__content-wrapper {
    width: 100%; }
  .calendar__content-row {
    width: 12rem;
    height: 12rem;
    border: 1px solid #f0eeee;
    width: 100%;
    border-top: none;
    display: flex;
    border-left: none; }
  .calendar__date-wrapper {
    width: 12rem;
    height: 12rem;
    border-left: 1px solid #f0eeee;
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column; }
    .calendar__date-wrapper:hover {
      cursor: pointer; }
  .calendar__text-content {
    padding-left: .5rem;
    font-size: 1rem; }
  .calendar__numbers {
    display: flex;
    justify-content: flex-end;
    font-size: 1.7rem; }
  .calendar__this-day {
    background-color: #333;
    border-bottom: 1px solid #f0eeee; }

.numbers-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 1.7rem;
  margin-left: -.5rem;
  color: #f0eeee; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar__copyright-wrapper {
    width: 100%;
    padding: 2rem; }
  .sidebar__copyright {
    font-size: 1.5rem; }

.profile-box {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  padding: 3rem;
  position: relative; }
  .profile-box__profile {
    height: 7.75rem;
    border-radius: 50%; }
  .profile-box__user-name {
    display: block;
    margin-left: 3rem;
    margin-top: -.8rem;
    font-size: 1.7rem;
    color: #f4f2f2; }
  .profile-box__user-experience {
    display: block;
    font-size: 1.3rem;
    margin-left: 3rem;
    margin-top: .7rem;
    color: #f4f2f2; }
  .profile-box__text {
    height: 100%; }
  .profile-box__level-circle {
    margin-left: -12.5rem;
    margin-top: 5.5rem;
    width: 2rem;
    height: 2rem;
    background-image: linear-gradient(to right bottom, #e01c34, #de1440, #db104a, #d61055, #d1145e, #cb1966, #c51f6d, #be2573, #b52b7a, #ac317f, #a23684, #983b88);
    border-radius: 50%; }
  .profile-box__levels {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #f0eeee;
    font-size: 1.2rem; }

.profile-menu {
  width: 100%;
  padding: 1rem;
  display: flex; }
  .profile-menu__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .profile-menu__inbox {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
    padding: .5rem .6rem;
    background-image: linear-gradient(to right bottom, #EF6DA0, #EE8E6B); }
  .profile-menu__today {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
    padding: .5rem .6rem;
    background-image: linear-gradient(to right bottom, #5F0A87, #A4508B);
    padding: .9rem; }
  .profile-menu__next-days {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
    padding: .5rem .6rem;
    background-image: linear-gradient(to right bottom, #380036, #0CBABA);
    padding: .7rem; }
  .profile-menu__svg-mail {
    fill: #f4f2f2;
    height: 2.3rem;
    width: 2.3rem; }
  .profile-menu__svg-clipboard {
    fill: #f4f2f2;
    height: 2rem;
    width: 2rem; }
  .profile-menu__svg-done {
    fill: #f4f2f2;
    height: 2.3rem;
    width: 2.3rem; }
  .profile-menu__text {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    font-size: 1.7rem; }
  .profile-menu__text-inbox {
    text-decoration: none;
    color: #f4f2f2;
    padding-top: .5rem;
    transition: color .1s linear; }
    .profile-menu__text-inbox:hover {
      color: #4062BB; }
  .profile-menu__text-today {
    text-decoration: none;
    color: #f4f2f2;
    padding-top: 1.9rem;
    transition: color .1s linear; }
    .profile-menu__text-today:hover {
      color: #4062BB; }
  .profile-menu__text-done {
    text-decoration: none;
    color: #f4f2f2;
    padding-top: 2.1rem;
    transition: color .1s linear; }
    .profile-menu__text-done:hover {
      color: #4062BB; }
  .profile-menu__progression {
    text-decoration: none;
    color: #f4f2f2;
    padding-top: 2.1rem;
    transition: color .1s linear; }
    .profile-menu__progression:hover {
      color: #4062BB; }
  .profile-menu__progression-icon {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
    padding: .5rem .6rem;
    background-image: linear-gradient(to right bottom, #e01c34, #de1440, #db104a, #d61055, #d1145e, #cb1966, #c51f6d, #be2573, #b52b7a, #ac317f, #a23684, #983b88);
    padding: .6rem; }

.nav-functions {
  max-height: 58rem;
  margin-top: 7rem;
  min-height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.project-container {
  display: flex;
  padding: .5rem;
  align-items: center; }
  .project-container__circle-project {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;
    background-color: #861657; }
  .project-container__svg-plus {
    width: 2.5rem;
    height: 2.5rem;
    fill: #f4f2f2;
    transition: fill .1s linear; }
  .project-container__svg-button :hover {
    fill: #BA265D; }
  .project-container__option-list {
    width: 100%; }
  .project-container__item-list {
    display: none;
    list-style-type: none;
    padding: .5rem 2rem; }
  .project-container__items {
    font-size: 1.4rem;
    margin-left: 4rem;
    padding-top: .5rem; }
  .project-container__items-name {
    text-decoration: none;
    color: #f4f2f2;
    transition: color .1s linear; }
    .project-container__items-name:hover {
      color: #746CC0; }

.labels-container {
  display: flex;
  padding: .5rem;
  align-items: center; }
  .labels-container__circle-labels {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;
    background-color: #009FFD; }
  .labels-container__svg-plus {
    width: 2.5rem;
    height: 2.5rem;
    fill: #f4f2f2;
    transition: fill .1s linear;
    margin-left: 2.2rem; }
  .labels-container__svg-button :hover {
    fill: #009FFD; }
  .labels-container__items-name:hover {
    color: #009FFD; }

.filtres-container {
  display: flex;
  padding: .5rem;
  align-items: center; }
  .filtres-container__circle-filtres {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;
    background-color: #FB8122; }
  .filtres-container__svg-plus {
    width: 2.5rem;
    height: 2.5rem;
    fill: #f4f2f2;
    transition: fill .1s linear;
    margin-left: 2rem; }
  .filtres-container__svg-button :hover {
    fill: #FB8122; }
  .filtres-container__items-name:hover {
    color: #FB8122; }

.popup-task {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup-task:target {
    opacity: 1;
    visibility: visible; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup-task {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup-task__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    background-color: #2E3553;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
    @media only screen and (max-width: 37em) {
      .popup-task__content {
        width: 85%; } }
  .popup-task:target .popup-task__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup-task__form {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0rem 3rem 3rem 3rem;
    align-items: center;
    justify-content: center;
    margin-top: -7rem; }
  .popup-task__title-label {
    font-size: 2rem;
    color: #f4f2f2; }
  .popup-task__title {
    width: 75%;
    font-family: inherit;
    font-size: 1.6rem;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px; }
    .popup-task__title:focus {
      outline: none; }
    .popup-task__title:focus::placeholder {
      color: transparent; }
  .popup-task__description-label {
    font-size: 2rem;
    margin-top: 1.5rem;
    color: #f4f2f2; }
  .popup-task__description {
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: inherit;
    width: 75%;
    padding: .7rem 2rem;
    border-radius: 15px;
    background-color: #f4f2f2;
    color: inherit;
    border: none;
    resize: none;
    outline: none; }
    .popup-task__description:focus::placeholder {
      color: transparent; }
  .popup-task__svg-delete-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1.3rem 1.5rem; }
  .popup-task__svg-ahref {
    width: 4rem;
    height: 4rem; }
  .popup-task__svg-delete {
    height: 3.1rem;
    width: 3.1rem;
    fill: #ccc;
    transition: fill .1s linear; }
  .popup-task__svg-button :hover {
    fill: red; }
  .popup-task__button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 27rem; }
    @media only screen and (max-width: 37em) {
      .popup-task__button-container {
        justify-content: center;
        margin-right: 0; } }
  .popup-task__button {
    background-color: #26F596;
    color: #009FFD; }

.popup-settings {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup-settings:target {
    opacity: 1;
    visibility: visible; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup-settings {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup-settings__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    background-color: #2E3553;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
    @media only screen and (max-width: 37em) {
      .popup-settings__content {
        width: 85%; } }
  .popup-settings:target .popup-settings__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup-settings__profile-wrapper {
    display: flex;
    justify-content: center;
    margin-top: -2rem; }
  .popup-settings__svg-ahref :hover {
    fill: red; }
  .popup-settings__btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem; }
  .popup-settings__main-content {
    width: 100%;
    height: 100%;
    padding: 2rem; }
  .popup-settings__options-list {
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    border-radius: 15px; }
    .popup-settings__options-list:hover {
      background-color: #777;
      cursor: pointer; }
  .popup-settings__option {
    font-size: 1.7rem;
    color: #f0eeee; }

.progression {
  background-color: #4C4177;
  width: 100%;
  height: 20%;
  border-radius: 15px;
  margin-bottom: 3rem;
  display: flex; }
  .progression__date-wrapper {
    width: 15%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .progression__day {
    font-size: 5rem;
    color: #f4f2f2; }
  .progression__month {
    font-size: 2rem;
    margin-top: -2rem;
    color: #f4f2f2; }
  .progression__progression-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1rem; }
  .progression__title {
    font-size: 2.3rem;
    color: #f4f2f2;
    font-weight: 700;
    margin-top: 3rem; }
  .progression__task-wrapper {
    display: flex;
    justify-content: space-between;
    padding: .3rem;
    margin-bottom: 1rem;
    width: 100%; }
  .progression__done-counter {
    margin-left: .3rem; }
  .progression__must-do-task-counter {
    margin-right: 4rem; }
  .progression__bar-container {
    width: 93%;
    height: .3rem;
    background-color: grey;
    border-radius: 15px;
    margin-left: .3rem; }
  .progression__bar {
    width: 0%;
    height: .3rem;
    background-color: green;
    border-radius: 15px; }

.todos {
  height: 80%;
  width: 100%;
  background-color: #4C4177;
  border-radius: 15px;
  padding: 1.5rem 2.5rem;
  font-size: 1.4rem;
  position: relative; }
  .todos__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    border-bottom: 2px solid #999;
    margin-bottom: 1rem; }
  .todos__title {
    font-size: 2rem;
    font-weight: 700;
    color: #f4f2f2; }
  .todos__today-wrapper {
    display: flex;
    padding: .5rem; }
  .todos__description {
    font-size: 1.7rem;
    color: #f4f2f2; }
  .todos__svg-clipboard {
    height: 1.5rem;
    width: 1.5rem;
    fill: violet;
    margin-top: .5rem;
    margin-right: .7rem; }
  .todos__svg-circle {
    position: relative;
    margin-right: 3rem;
    margin-top: -.3rem;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%; }
    .todos__svg-circle, .todos__svg-circle:link, .todos__svg-circle:visited {
      border-radius: 50%;
      transition: all .2s;
      border: none;
      cursor: pointer; }
    .todos__svg-circle:hover {
      transform: translateY(-1px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .todos__svg-circle:hover::after {
        transform: scaleX(1.4) scaleY(1.4);
        opacity: 0; }
    .todos__svg-circle:active, .todos__svg-circle:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .todos__svg-circle::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
      background-color: #26F596; }
  .todos__svg-add-circle {
    height: 3.1rem;
    width: 3.1rem;
    fill: #26F596;
    height: 2.8rem;
    width: 2.8rem;
    transform: scale(1.2); }

.main-content {
  width: 100%; }
  .main-content__header {
    display: flex;
    align-items: center;
    margin-top: .1rem;
    width: 100%; }
  .main-content__header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .main-content__circle {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #A4508B;
    border-radius: 50%; }
  .main-content__title {
    display: block;
    margin-right: 28rem;
    font-size: 1.7rem;
    font-weight: 700;
    color: #f4f2f2;
    margin-left: 2rem; }
  .main-content__svg-wrapper {
    display: flex;
    width: 18%;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .main-content__svg-wrapper {
        width: 15%; } }
  .main-content__svg-circle-check {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    background-color: #bca0ff;
    padding: .3rem;
    position: relative; }
    .main-content__svg-circle-check, .main-content__svg-circle-check:link, .main-content__svg-circle-check:visited {
      border-radius: 50%;
      transition: all .2s;
      border: none;
      cursor: pointer; }
    .main-content__svg-circle-check:hover {
      transform: translateY(-1px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .main-content__svg-circle-check:hover::after {
        transform: scaleX(1.4) scaleY(1.4);
        opacity: 0; }
    .main-content__svg-circle-check:active, .main-content__svg-circle-check:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .main-content__svg-circle-check::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
      background-color: #bca0ff; }
  .main-content__svg-check {
    width: 2.1rem;
    height: 2.1rem;
    fill: #26F596; }
  .main-content__svg-circle-message {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    background-color: #009FFD;
    padding: .5rem;
    position: relative; }
    .main-content__svg-circle-message, .main-content__svg-circle-message:link, .main-content__svg-circle-message:visited {
      border-radius: 50%;
      transition: all .2s;
      border: none;
      cursor: pointer; }
    .main-content__svg-circle-message:hover {
      transform: translateY(-1px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .main-content__svg-circle-message:hover::after {
        transform: scaleX(1.4) scaleY(1.4);
        opacity: 0; }
    .main-content__svg-circle-message:active, .main-content__svg-circle-message:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .main-content__svg-circle-message::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
      background-color: #009FFD; }
  .main-content__svg-message {
    width: 1.7rem;
    height: 1.7rem;
    fill: #f4f2f2; }
  .main-content__svg-circle-attachment {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    background-color: #BA265D;
    padding: .19rem;
    position: relative; }
    .main-content__svg-circle-attachment, .main-content__svg-circle-attachment:link, .main-content__svg-circle-attachment:visited {
      border-radius: 50%;
      transition: all .2s;
      border: none;
      cursor: pointer; }
    .main-content__svg-circle-attachment:hover {
      transform: translateY(-1px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .main-content__svg-circle-attachment:hover::after {
        transform: scaleX(1.4) scaleY(1.4);
        opacity: 0; }
    .main-content__svg-circle-attachment:active, .main-content__svg-circle-attachment:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .main-content__svg-circle-attachment::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
      background-color: #BA265D; }
  .main-content__svg-attachment {
    width: 2.4rem;
    height: 2.4rem;
    fill: #f4f2f2; }
  .main-content__text-container {
    padding: 1rem 1.8rem;
    border-left: 2px solid #999;
    max-width: 75%;
    margin-left: .6rem;
    margin-top: -0.3rem; }
    @media only screen and (max-width: 75em) {
      .main-content__text-container {
        width: 87%; } }
  .main-content__text {
    color: #f4f2f2;
    width: 100%; }
  .main-content__list-items {
    list-style: none; }
  .main-content__item {
    width: 100%; }

.done-todos {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  visibility: hidden;
  width: 100%;
  padding: 1.5rem 2.5rem; }
  .done-todos__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    border-bottom: 2px solid #999;
    margin-bottom: 1rem; }
  .done-todos__title {
    font-size: 3rem;
    font-weight: 700;
    color: #f4f2f2; }
  .done-todos__item-list {
    list-style: none; }

.container {
  max-width: 160rem;
  margin: 8rem auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  background-color: #2a314f;
  border-radius: 15px;
  min-height: 70rem;
  overflow: hidden; }
  @media only screen and (min-width: 132.5em) {
    .container {
      max-width: 170rem; } }
  @media only screen and (max-width: 106.25em) {
    .container {
      max-width: 115rem; } }
  @media only screen and (max-width: 75em) {
    .container {
      max-width: 100rem; } }
  @media only screen and (max-width: 65.62em) {
    .container {
      max-width: 80rem; } }
  @media only screen and (max-width: 43.75em) {
    .container {
      max-width: 70rem; } }
  @media only screen and (max-width: 37em) {
    .container {
      max-width: 100%;
      margin: 0;
      border-radius: 0;
      min-height: 100%; } }

.sidebar {
  width: 20%;
  min-height: 90rem;
  background-image: linear-gradient(to right bottom, #2E3553, #4C4177);
  border-bottom-left-radius: 15px; }
  @media only screen and (max-width: 75em) {
    .sidebar {
      width: 30%;
      border-bottom-right-radius: 15px; } }
  @media only screen and (max-width: 37em) {
    .sidebar {
      width: 60%;
      position: absolute;
      top: 0;
      left: -60%;
      height: 90vh;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
      z-index: 3; } }

.main {
  display: flex;
  min-height: 90rem; }
  @media only screen and (max-width: 37em) {
    .main {
      position: relative; } }

.content {
  width: 50%;
  min-height: 90rem;
  padding: 3rem 0 6rem 3rem; }
  @media only screen and (max-width: 75em) {
    .content {
      order: 1;
      width: 70%;
      padding-right: 3rem; } }
  @media only screen and (max-width: 37em) {
    .content {
      width: 100%;
      min-height: 80vh;
      border-radius: 0; } }

.interface {
  display: flex;
  min-height: 60rem;
  width: 30%;
  padding: 3rem; }
  @media only screen and (max-width: 75em) {
    .interface {
      visibility: hidden;
      display: none;
      width: 100%;
      padding-bottom: 0; } }
  @media only screen and (max-width: 37em) {
    .interface {
      width: 100%;
      position: absolute; } }

.header {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #2E3553;
  padding: 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }
  @media only screen and (max-width: 37em) {
    .header {
      border-top-left-radius: 0;
      border-top-right-radius: 0; } }
  .header__title {
    display: flex;
    font-size: 1.7rem;
    color: white; }
    @media only screen and (max-width: 37em) {
      .header__title {
        margin: 0 auto; } }
  .header__svg-logo {
    fill: #BA265D;
    margin-top: 0.8rem; }

.search {
  display: flex;
  flex: 0 0 40%;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 37em) {
    .search {
      flex: 0 0 80%;
      margin: auto; } }
  .search__input {
    font-family: inherit;
    font-size: 1.6rem;
    color: #f0eeee;
    background-color: #454d66;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;
    transition: width .1s linear; }
    .search__input::placeholder {
      color: #f0eeee; }
    @media only screen and (max-width: 75em) {
      .search__input {
        width: 100%; } }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #454d66; }
    .search__input:focus::placeholder {
      color: transparent; }
  .search__button {
    border: none;
    background-color: #454d66; }
  .search__svg-glas {
    height: 2.3rem;
    width: 2.3rem;
    fill: #f0eeee; }

.icons {
  display: flex;
  flex-basis: 20%;
  padding-right: 2rem;
  position: relative; }
  @media only screen and (max-width: 37em) {
    .icons {
      visibility: hidden;
      display: none; } }
  .icons__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%; }
  .icons__single-item-1 {
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    background-color: #454d66;
    padding: .7rem; }
    .icons__single-item-1:hover {
      background-color: #4062BB; }
  .icons__single-item-2 {
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    background-color: #454d66;
    padding: .7rem;
    position: relative; }
    .icons__single-item-2:hover {
      background-color: #4062BB; }
  .icons__single-item-3 {
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    background-color: #454d66;
    padding: .7rem; }
    .icons__single-item-3:hover {
      background-color: #4062BB; }
  .icons__svg-circle {
    fill: #f0eeee; }
  .icons__svg-globe {
    fill: #f0eeee;
    margin-left: -1.9rem; }
  .icons__svg-config {
    fill: #f0eeee; }
  .icons__messeges-count {
    width: 2rem;
    height: 2rem;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4.3rem;
    margin-left: 3rem;
    z-index: 3; }
  .icons__count {
    color: #f0eeee;
    font-size: 1.3rem;
    margin-top: .3rem; }
  .icons__messeges-wrapper {
    position: absolute;
    display: none;
    width: 32rem;
    height: 30rem;
    background-color: #454d66;
    margin-top: 5.6rem;
    border-radius: 15px;
    z-index: 99; }
  .icons__messeges-container {
    max-height: 12rem;
    overflow: hidden;
    padding: 1rem;
    padding-bottom: 1rem;
    border-radius: 15px; }
    .icons__messeges-container:hover {
      cursor: pointer;
      background-color: #777; }
  .icons__meseges-chat-container {
    max-height: 9rem;
    overflow: hidden; }

.menu {
  display: none;
  visibility: hidden; }
  @media only screen and (max-width: 37em) {
    .menu {
      display: block;
      visibility: visible;
      margin-right: -4rem; } }
  .menu__svg {
    height: 3.3rem;
    width: 3.3rem;
    fill: #f0eeee; }
  .menu__btn {
    padding: .2rem; }
