//COLORS
$color-primary-1: #2a314f;
$color-primary-2: #5A585A;
$color-primary-3: #4C4177;
$color-primary-light: #7B8797;

$color-title: #BA265D;
$color-title-main-1: #5626C4;
$color-title-main-2: #FB8122;
$color-footer: #101d2c;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-light-violet: #5f6cdc;
$color-light-blue: #4062BB;


$color-dark-blue-1: #454d66;

$color-white: #fff;
$color-black: #000;

//ICONS COLOR
$color-mail-1: #EF6DA0;
$color-mail-2: #EE8E6B;
$color-today-1: #5F0A87;
$color-today-2: #A4508B;
$color-last-1: #380036;
$color-last-2: #0CBABA;
$color-check-1: #bca0ff;
$color-check-2: #26F596;

$color-light-violet-1: #7f79fc;
$color-light-violet-2: #bcb6fc;
$color-light-violet-3: #acacfc;
$color-light-violet-4: #d4d4fc;

// BOX SHADOW
$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);

// LINEAR GRADIENT

$linear-gradient-header-1: #2E3553;
$linear-gradient-header-2: #4834D4;

$linear-gradient-sidebar-1: #2E3553;
$linear-gradient-sidebar-2: #4C4177;

$linear-gradient-bgc-1: #667eea;
$linear-gradient-bgc-2: #764ba2;

$color-linear-gradient-1: #746CC0;
$color-linear-gradient-2: #58427C;


$color-linear-gradient-violet-1: #A899FF;
$color-linear-gradient-violet-2: #725aff;

// NAV COLORS
$color-project-1: #861657;
$color-labels-1: #009FFD;
$color-filtres-1: #FB8122;

// PROGRESSION BAR 
$color-cont-bar: grey;
$color-ins-bar: green;

$color-test-2: blue;