//COLORS
$color-primary-1: #2a314f;
$color-primary-2: #5A585A;
$color-primary-3: #4C4177;
$color-primary-light: #7B8797;

$color-level-1: orangered;

$color-title: #BA265D;
$color-title-main-1: #5626C4;
$color-title-main-2: #FB8122;
$color-footer: #101d2c;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-light-violet: #5f6cdc;
$color-light-blue: #4062BB;


$color-dark-blue-1: #454d66;

$color-white: #fff;
$color-black: #000;

//ICONS COLOR
$color-mail-1: #EF6DA0;
$color-mail-2: #EE8E6B;
$color-today-1: #5F0A87;
$color-today-2: #A4508B;
$color-last-1: #380036;
$color-last-2: #0CBABA;
$color-check-1: #bca0ff;
$color-check-2: #26F596;

$color-light-violet-1: #7f79fc;
$color-light-violet-2: #bcb6fc;
$color-light-violet-3: #acacfc;
$color-light-violet-4: #d4d4fc;

// BOX SHADOW
$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);

// LINEAR GRADIENT

$linear-gradient-header-1: #2E3553;
$linear-gradient-header-2: #4834D4;

$linear-gradient-sidebar-1: #2E3553;
$linear-gradient-sidebar-2: #4C4177;

$linear-gradient-bgc-1: #667eea;
$linear-gradient-bgc-2: #764ba2;

$color-linear-gradient-1: #746CC0;
$color-linear-gradient-2: #58427C;


$color-linear-gradient-violet-1: #A899FF;
$color-linear-gradient-violet-2: #725aff;

// NAV COLORS
$color-project-1: #861657;
$color-labels-1: #009FFD;
$color-filtres-1: #FB8122;

// PROGRESSION BAR 
$color-cont-bar: grey;
$color-ins-bar: green;

$color-test-2: blue;


// LINEAR GRADIENTS

// Main
$header-main: linear-gradient(#2E3553, #2E3553);
$container-main: linear-gradient(#2a314f, #2E3553);
$sidebar-main: linear-gradient(to right bottom, #2E3553, #4C4177);
$progressContent-main: linear-gradient(#4C4177, #4C4177);
$todo-main: linear-gradient(#4C4177, #4C4177);
$interfaceContainer-main: linear-gradient(#4C4177, #4C4177);

// violet

$header-violet: linear-gradient(to right bottom, #2e3553, #2d3452, #2d3351, #2c3351, #2b3250, #2d3353, #2f3456, #313559, #373861, #3d3b68, #443e70, #4c4177);
$container-violet: linear-gradient(to right bottom, #2e3553, #32385a, #373a61, #3d3c68, #433e6f, #433e6e, #423d6e, #423d6d, #3b3a66, #35375e, #2f3457, #2a314f);
$sidebar-violet: linear-gradient(to right bottom, #2e3553, #32385a, #373a61, #3d3c68, #433e6f, #433e6e, #423d6e, #423d6d, #3b3a66, #35375e, #2f3457, #2a314f);
$progressContent-violet: linear-gradient(to right bottom, #2e3553, #2d3452, #2d3351, #2c3351, #2b3250, #2d3353, #2f3456, #313559, #373861, #3d3b68, #443e70, #4c4177);
$todo-violet: linear-gradient(to bottom, #2e3553, #2d3452, #2d3351, #2c3351, #2b3250, #2d3353, #2f3456, #313559, #373861, #3d3b68, #443e70, #4c4177);
$interfaceContainer-violet: linear-gradient(to right top, #2e3553, #32385a, #373a61, #3d3c68, #433e6f, #433e6e, #423d6e, #423d6d, #3b3a66, #35375e, #2f3457, #2a314f);

// green

$header-green: linear-gradient(to left, #21777d, #21747c, #22717a, #236e79, #246b77, #256875, #266673, #276371, #28606f, #295d6c, #2a5a6a, #2b5767);
$container-green: linear-gradient(to left top, #21777d, #21747c, #22717a, #236e79, #246b77, #256875, #266673, #276371, #28606f, #295d6c, #2a5a6a, #2b5767);
$sidebar-green: linear-gradient(to left top, #268782, #248481, #228181, #217e80, #217b7f, #21787e, #21767c, #21737b, #227079, #236d78, #246a76, #256774);
$progressContent-green: linear-gradient(to left top, #268782, #248481, #228181, #217e80, #217b7f, #21787e, #21767c, #21737b, #227079, #236d78, #246a76, #256774);
$todo-green: linear-gradient(to top, #268782, #248481, #228181, #217e80, #217b7f, #21787e, #21767c, #21737b, #227079, #236d78, #246a76, #256774);
$interfaceContainer-green: linear-gradient(to right top, #268782, #248481, #228181, #217e80, #217b7f, #21787e, #21767c, #21737b, #227079, #236d78, #246a76, #256774);

// orange 

$header-orange: linear-gradient(to right, #f94327, #f83a36, #f63343, #f22d4f, #ed2a5a, #e82a63, #e12b6c, #da2e74, #d1327c, #c73783, #bc3b89, #b1408e);
$container-orange: linear-gradient(to right bottom, #d04072, #ce417a, #ca4382, #c7468a, #c24991, #bb4e9b, #b353a4, #a958ac, #995fb7, #8667c0, #6f6dc6, #5573ca);
$sidebar-orange: linear-gradient(to right bottom, #d14545, #cf424d, #cb4055, #c73e5d, #c23e64, #bd3f69, #b7406e, #b14173, #a94378, #a1447c, #99467f, #904882);
$progressContent-orange: linear-gradient(to right bottom, #d14545, #cf424d, #cb4055, #c73e5d, #c23e64, #bd3f69, #b7406e, #b14173, #a94378, #a1447c, #99467f, #904882);
$todo-orange: linear-gradient(to bottom, #d14545, #cf424d, #cb4055, #c73e5d, #c23e64, #bd3f69, #b7406e, #b14173, #a94378, #a1447c, #99467f, #904882);
$interfaceContainer-orange: linear-gradient(to right top, #d14545, #cf424d, #cb4055, #c73e5d, #c23e64, #bd3f69, #b7406e, #b14173, #a94378, #a1447c, #99467f, #904882);

// blue

$header-blue: linear-gradient(to right, #8c6cc3, #8672c9, #8077ce, #7a7dd3, #7382d8, #6c87dc, #658be0, #5e90e3, #5695e6, #4d9ae8, #449eea, #3ba3ec);
$container-blue: linear-gradient(to right bottom, #8c6cc3, #8672c9, #8077ce, #7a7dd3, #7382d8, #6c87dc, #658be0, #5e90e3, #5695e6, #4d9ae8, #449eea, #3ba3ec);
$sidebar-blue: linear-gradient(to right bottom, #6989de, #618ee2, #5993e5, #5098e8, #479dea, #3fa1ec, #37a5ed, #2ea9ee, #23adef, #18b2ef, #0cb6ef, #01baef);
$progressContent-blue: linear-gradient(to right bottom, #6989de, #618ee2, #5993e5, #5098e8, #479dea, #3fa1ec, #37a5ed, #2ea9ee, #23adef, #18b2ef, #0cb6ef, #01baef);
$todo-blue: linear-gradient(to bottom, #6989de, #618ee2, #5993e5, #5098e8, #479dea, #3fa1ec, #37a5ed, #2ea9ee, #23adef, #18b2ef, #0cb6ef, #01baef);
$interfaceContainer-blue: linear-gradient(to right top, #6989de, #618ee2, #5993e5, #5098e8, #479dea, #3fa1ec, #37a5ed, #2ea9ee, #23adef, #18b2ef, #0cb6ef, #01baef);