.container {
    max-width: 160rem;
    margin: 8rem auto;
    box-shadow: $shadow-dark;
    background-color: $color-primary-1;
    border-radius: 15px;
    min-height: 70rem;

    @include respond(2k-desktop) {
        max-width: 170rem;
    }

    @include respond(tab-land-big) {
        max-width: 130rem;
    }

    @include respond(tab-land) {
        max-width: 100rem;
    }    

    

}

.sidebar {
    width: 20%;
    min-height: 90rem;
    background-image: linear-gradient(to right bottom, $linear-gradient-sidebar-1, $linear-gradient-sidebar-2);
    border-bottom-left-radius: 15px; 

    @include respond(tab-land) {
        width: 40%;
        border-bottom-right-radius: 15px;
    }    
}

.main {
    display: flex;
    min-height: 90rem;
    flex-wrap: wrap;
}

.content {
    width: 50%;
    min-height: 90rem;
    padding: 3rem 0 6rem 3rem;

    @include respond (tab-land) {
        order: 1;
        width: 100%;
        padding-right: 3rem;
    }
}

.interface {
    display: flex;
    min-height: 60rem;
    width: 30%;
    padding: 3rem;

    @include respond(tab-land) {
        width: 60%;
        padding-bottom: 0;
    }    
}