.header {
    
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   // background-image: linear-gradient(to left bottom , $linear-gradient-header-1,$linear-gradient-header-2);
    background-color: $linear-gradient-header-1;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    @include respond(phone) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &__title {
        display: flex;
        font-size: 1.7rem;
        color: white;

        @include respond(phone) {
            margin: 0 auto;
        }
    }

    &__svg-logo {
        fill: $color-title;
        margin-top: 0.8rem;
    }
 
}

.search {
        display: flex;
        flex: 0 0 40%;
        align-items: center;
        justify-content: center;

        @include respond(phone) {
            flex: 0 0 80%;
            margin: auto;
        }

    &__input {
        font-family: inherit;
        font-size: 1.6rem;
        color: $color-grey-light-3;
        background-color: $color-dark-blue-1;
        border:none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        margin-right: -3.25rem;
        transition: width .1s linear;

        &::placeholder {
            color: $color-grey-light-3;
        }

        @include respond(tab-land) {
            width: 100%;
        }

        &:focus {
            outline: none;
            width: 100%;
            background-color: $color-dark-blue-1;
        }

        &:focus::placeholder {
            color: transparent;
        }

    }

    &__button {
        border:none;
        background-color: $color-dark-blue-1;
    }

    &__svg-glas {
        height: 2.3rem;
        width: 2.3rem;
        fill: $color-grey-light-3;

    }
}

.icons {
    display: flex;
    flex-basis: 20%;
    padding-right: 2rem;

    @include respond(phone) {
        visibility: hidden;
        display: none;
    }

    &__list {
        list-style-type: none; 
        display: flex;
        justify-content: space-around;
        width: 100%;
     }
 
     &__single-item-1 {
        @include headerNavSvg;
        padding: .75rem;
     }

     &__single-item-2 {
        @include headerNavSvg;
        padding: .7rem;
     }

     &__single-item-3 {
        @include headerNavSvg;
        padding: .7rem;
     }

     &__svg-btn {
         
     }

    &__svg-circle {
        fill: $color-grey-light-3;
        margin-left: .1rem;
    }

    &__svg-globe {
        fill: $color-grey-light-3;
        margin-left: -1.7rem;
    }

    &__svg-config {
        fill: $color-grey-light-3;

    }

    &__messeges-count {
        width: 2rem;
        height: 2rem;
        background-color: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -4.3rem;
        margin-left: 3rem;
        z-index: 3;
    }

    &__count {
        color: $color-grey-light-3;
        font-size: 1.3rem;
        margin-top: .3rem;
    }

   
}

// .icons-box {
//     display:none;
//     position: absolute;
//     background-color: $linear-gradient-header-1;
//     border-radius: 15px; 

//     // UL
//     &__settings {
//         list-style-type: none;
        
//     }

//     //LI
//     &__settings-item {
        
//         font-size: 1.5rem;
        
//         width: 100%;
        

//         :hover {
//             background-color: $color-grey-light-4;
//             display: block;
//             // opacity: .4;
//         }
//     }

//     &__settings-item-link {
//         display: block;
//         padding: 1rem 1.5rem;
//         text-decoration: none;
//         color: white;
//         border-radius: 15px;
//     }
// }

.menu {
    display:none;
    visibility: hidden;

    @include respond (phone) {
        display: block;
        visibility: visible;
        // padding-right: 7rem;
        margin-right: -4rem;
    }

    &__svg {
        height: 3.3rem;
        width: 3.3rem;
        fill: $color-grey-light-3;
    }

    &__btn {
        padding: .2rem;
    }
}