.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__copyright-wrapper {
        width: 100%;
        padding: 2rem;
    }

    &__copyright {
        font-size: 1.5rem;
    }
}

///////////////////////////////////////////////////////////////////
// PROFILE IMG

.profile-box {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    padding: 3rem;
    position: relative;
    

    &__profile {
        height: 7.75rem;
        border-radius: 50%;
    }

    &__user-name {
        display: block;
        margin-left: 3rem;
        margin-top: -.8rem;
        font-size: 1.7rem;
        color: $color-grey-light-2;
    }

    &__user-experience {
        display: block;
        font-size: 1.3rem;
        margin-left: 3rem;
        margin-top: .7rem;
        color: $color-grey-light-2;
    }

    &__text {
        height: 100%;
    }

    &__level-circle {
        margin-left: -12.5rem;
        margin-top: 5.5rem;
        width: 2rem;
        height: 2rem;
        background-color: $color-level-1;
        border-radius: 50%;
    }

    &__levels {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        color: $color-grey-light-3;
        font-size: 1.2rem;
    }
}

///////////////////////////////////////////////////////////////////
// SECOND PART OF NAV

.profile-menu {
    width: 100%;
    // height: 15rem;
    // background: #000;
    padding: 1rem;
    display: flex;

    &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    }

    //SVG BACKGROUND
    &__inbox {
        @include svg-position {
            background-image: linear-gradient(to right bottom, $color-mail-1, $color-mail-2);
        }
       
    }

    &__today {
       @include svg-position {
        background-image: linear-gradient(to right bottom, $color-today-1, $color-today-2);
        padding: .9rem;
       }
  

    }

    &__next-days {
        @include svg-position {
            background-image: linear-gradient(to right bottom, $color-last-1, $color-last-2);
            padding: .7rem;
        }
     
    }

    //SVG

    &__svg-mail {
        fill: $color-grey-light-2;
        height: 2.3rem;
        width: 2.3rem;
    }

    &__svg-clipboard {
        fill: $color-grey-light-2;
        height: 2rem;
        width: 2rem;
    }

    &__svg-done {
        fill: $color-grey-light-2;
        height: 2.3rem;
        width: 2.3rem;
    }

///////////////////////////////////////////////////////////////////
// TEXT

    &__text {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        font-size: 1.7rem;
      
    }

    &__text-inbox {
        text-decoration: none;
        color: $color-grey-light-2;
        padding-top: .5rem;
        transition: color .1s linear;

        &:hover {
            color: $color-light-blue;
        }
    }

    &__text-today {
        text-decoration: none;
        color: $color-grey-light-2;
        padding-top: 1.9rem;
        transition: color .1s linear;

        &:hover {
            color: $color-light-blue;
        }
    }

    &__text-done {
        text-decoration: none;
        color: $color-grey-light-2;
        padding-top: 2.1rem;
        transition: color .1s linear;

        &:hover {
            color: $color-light-blue;
        }
    }

    &__coming {
        padding-top: 1rem;
    }

    &__progression {
        padding-top: .7rem;
    }

    &__progression-icon {
        @include svg-position {
            background-image: linear-gradient(to right bottom, #e01c34, #de1440, #db104a, #d61055, #d1145e, #cb1966, #c51f6d, #be2573, #b52b7a, #ac317f, #a23684, #983b88);
            padding: .6rem;
        }
        margin-top: 2rem;
    }

}

///////////////////////////////////////////////////////////////////
// BOTTOM SIDE OF NAV

.nav-functions {
    max-height: 58rem;
    margin-top: 7rem;
    min-height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-container {
    @include nav-bottom-center;

    &__circle-project {
        @include svg-circle-nav;
        background-color: $color-project-1;
    }

    &__svg-plus {

        @include svg-nav;
    }

    &__svg-button {

        :hover {
            fill: $color-title;
          }
    }

    &__option-list {
        width: 100%;
    }

    &__item-list {
        display: none;
        list-style-type: none;
        padding: .5rem 2rem;
    }

    &__items {
        font-size: 1.4rem;
        margin-left: 4rem;
        padding-top: .5rem;
    }

    &__items-name {
        text-decoration: none;
        color: $color-grey-light-2;
        transition: color .1s linear;

        &:hover {
            color: #746CC0;
        }
    }
}

.labels-container {
    @include nav-bottom-center;

    &__circle-labels {
        @include svg-circle-nav;
        background-color: $color-labels-1;
    }

    &__svg-plus {
        @include svg-nav;
        margin-left: 2.2rem;
    }

    &__svg-button {

        :hover {
            fill: $color-labels-1;
          }
    }

    &__items-name {

        &:hover {
            color: $color-labels-1;
        }
    }
}

.filtres-container {
    @include nav-bottom-center;

    &__circle-filtres {
        @include svg-circle-nav;
        background-color: $color-filtres-1;
    }

    &__svg-plus {
        @include svg-nav;
        margin-left: 2rem;
    }

    &__svg-button {

        :hover {
            fill: $color-filtres-1;
          }
    }

    &__items-name {

        &:hover {
            color: $color-filtres-1;
        }
    }
}