.popup-task {
    @include popup;

    &__content {
        @include absCenter;

        width: 45%;
        background-color: $linear-gradient-header-1;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 15px;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;

        @include respond(tab-land-big) {
            width: 50%;
        }

        @include respond(tab-land-small) {
            width: 55%;
        }

        @include respond(tab-port-very-big) {
            width: 65%;
        }

        @include respond(phone) {
            width: 85%;
        }
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__form {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        padding: 0rem 3rem 3rem 3rem;
        align-items: center;
        justify-content: center;
        margin-top: -7rem;
    }

    &__title-label {
        font-size: 2rem;
        color: $color-grey-light-2;
    }

    &__title {
        
        width: 75%;
        font-family: inherit;
        font-size: 1.6rem;
        color: inherit;
        background-color: $color-grey-light-2;
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;

        &:focus {
            outline: none;
        }
        
        &:focus::placeholder {
            color: transparent;
        }
    }

    &__description-label {
        font-size: 2rem;
        margin-top: 1.5rem;
        color: $color-grey-light-2;
    }

    &__description {
        font-size: 1.6rem;
        font-family: inherit;
        font-weight: inherit;
        width: 75%;
        padding: .7rem 2rem;
        border-radius: 15px;
        background-color: $color-grey-light-2;
        color: inherit;
        border: none;
        resize: none;
        outline: none;

        &:focus::placeholder {
            color: transparent;
        }
        
    }

    &__svg-delete-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 1.3rem 1.5rem;
    }

    &__svg-ahref {
        width: 4rem;
        height: 4rem;
    }

    &__svg-delete {
        @include svg;
        fill: $color-grey-light-4;
        transition: fill .1s linear;
    }

    &__svg-button {
        
        :hover {
            fill: red;
        }
        
    }

    &__button-container {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 2rem;
        margin-right: 27rem;

        @include respond(phone) {
            justify-content: center;
            margin-right: 0;
        }
    }

    &__button {
        background-color: $color-check-2;
        color: $color-labels-1;
    }
}

.popup-settings {

    @include popup;

    &__content {
        @include absCenter;

        // min-height: 50vh;
        width: 25%;
        background-color: $linear-gradient-header-1;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 15px;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;


        @include respond(tab-land-big) {
            width: 50%;
        }

        @include respond(tab-land-small) {
            width: 55%;
        }

        @include respond(tab-port-very-big) {
            width: 65%;
        }

        @include respond(phone) {
            width: 85%;
        }
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    

    &__profile-wrapper {
        display: flex;
        justify-content: center;
        margin-top: -2rem;
    }

    // PROGRESS BAR

    &__progress-bar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5rem;
        margin-bottom: -2.3rem;
    }

    &__progress-bar-title {
        font-size: 1.7rem;
        color: $color-grey-light-3;
    }

    &__progress-bar-lvl {
        margin-left: .4rem;
    }

    &__progress-bar {
        width: 70%;
        height: 1.2rem;
        border-radius: 15px;
        background-color: grey;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    &__progress {
        width: 0%;
        height: 1.2rem;
        border-radius: 15px;
        // background: linear-gradient(45deg, #ffee54, #ff00ca);
        background: linear-gradient(45deg, #22ffde, #2196f3);
        animation: progressAnimation 2s ease-in-out;
    }

    @keyframes progressAnimation {
        from {
            width: 0%;
        }
    }

    &__progress-value {
        font-size: 1.7rem;
        color: $color-grey-light-3;
    }

    &__exp-value {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-grey-light-3;
        margin-top: -1.55rem;
        font-size: 1.3rem;
        margin-left: -4rem;
    }

    &__profile {

    }

    &__svg-ahref {
       
       :hover {
           fill: red;
       }
    }

    &__btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
    }

    &__main-content {
        width: 100%;
        height: 100%;
        padding: 2rem;
    }

    &__options-list {
        height: 5rem;
        text-align: center;
        line-height: 5rem;
        border-radius: 15px;

        &:hover {
            background-color: $color-grey-dark-2;
            cursor: pointer;
        }
    }

    &__option {
        font-size: 1.7rem;
        color: $color-grey-light-3;

    }

    &__option-image {
        cursor: pointer;
    }
}

.name-change {
    height: 20rem;
    width: 100%;
    display: none;

    &__name {
        display: flex;
        margin-bottom: 3rem;
    }

    &__text {
        font-size: 2rem;
        color: $color-grey-light-3;
        width: 25%;
    }

    &__input {
        @include inputOptions;
    }

    &__button-container {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }

    // All buttons

    &__button-back {
        @include optionButtons;
    }

    &__button-apply {
        @include optionButtons;
    }

    &__button-apply-pro {
        @include optionButtons;
    }

    &__button-back-pro {
        @include optionButtons;
    }

    &__successful-container {
       display: flex;
       visibility: hidden;
       width: 100%; 
       justify-content: center;
       align-items: center;
    }

    &__successful-text {
        font-size: 2rem;
        color: $color-check-2;
        margin-left: 1rem;
    }

}

.profession-change {
    height: 20rem;
    width: 100%;
    display: none;

    &__input {
        @include inputOptions {
            width: 65%;
            margin-left: 1.5rem;
        }
    }
}