.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-left-medium {
    margin-left: 4rem !important;

    @include respond(phone) {
        margin-left: 1rem !important;
    }
}
.u-margin-left-small {
    margin-left: 2rem !important;
}

.u-margin-right-small {
    margin-right: 1.5rem !important;
}
.u-margin-right-medium {
    margin-right: 4rem !important;
}
.u-margin-right-big {
    margin-right: 6rem !important;
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.background-blur {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }
}

.background-ahref {
    cursor: inherit;
}

// THEMES

.main-header {
    background-image:  $header-main;
}

.main-container {
    background-image:  $container-main;
}

.main-sidebar {
    background-image:  $sidebar-main !important;
}

.main-progress {
    background-image:  $progressContent-main;
}

.main-todo {
    background-image: $todo-main;
}

.main-interface {
    background-image: $interfaceContainer-main;
}

// VIOLET

.violet-header {
    background-image:  $header-violet;
}

.violet-container {
    background-image:  $container-violet;
}

.violet-sidebar {
    background-image:  $sidebar-violet !important;
}

.violet-progress {
    background-image:  $progressContent-violet;
}

.violet-todo {
    background-image: $todo-violet;
}

.violet-interface {
    background-image: $interfaceContainer-violet;
}

// GREEN 

.green-header {
    background-image:  $header-green;
}

.green-container {
    background-image:  $container-green;
}

.green-sidebar {
    background-image:  $sidebar-green !important;
}

.green-progress {
    background-image:  $progressContent-green;
}

.green-todo {
    background-image: $todo-green;
}

.green-interface {
    background-image: $interfaceContainer-green;
}

// ORANGE

.orange-header {
    background-image:  $header-orange ;
}

.orange-container {
    background-image:  $container-orange;
}

.orange-sidebar {
    background-image:  $sidebar-orange !important;
}

.orange-progress {
    background-image:  $progressContent-orange;
}

.orange-todo {
    background-image: $todo-orange;
}

.orange-interface {
    background-image: $interfaceContainer-orange;
}

// BLUE

.blue-header {
    background-image:  $header-blue;
}

.blue-container {
    background-image:  $container-blue;
}

.blue-sidebar {
    background-image:  $sidebar-blue !important;
}

.blue-progress {
    background-image:  $progressContent-blue;
}

.blue-todo {
    background-image: $todo-blue;
}

.blue-interface {
    background-image: $interfaceContainer-blue;
}